body{
  width: 70em;
  margin: 0 auto;
  background: linear-gradient(217deg, rgba(255,230,0,.8), rgba(255,0,0,0)70.71%),
             linear-gradient(450deg, rgba(30,255,43,.8), rgba(0,255,0,0)70.78%),
            linear-gradient(336deg, rgba(0,10,255,.8), rgba(0,0,255,0)70.81%);
}

#gen{
  background: #B3E45D;
  border-radius: 6px #999999;
  padding: 20px;
}

.tig:hover{
  -webkit-transform:translate(7em);
}

#parafo1{
  float: right;
  text-align:justify;
  width: 600px;
  position: absolute;top: 180px;
  margin-left:510px;
  font-family: serif;
}

h1{
  text-align: center;
  color: blue;
}



nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400 px;
justify-content: center;

}
li a{
  background: #728931;
  display: block;
  display: inline;
margin: 20px;
}

#lista{
text-align: center;
display: flex;
font-size: 20px;
}



li a:hover{
  color: black;
}


#tortug{
  float:none;
  text-align:right;
  width: 600px;
  position: absolute;top: 700px;
  margin-left:570px;
  border-radius: 30px;

}
#tortug:hover{

filter: grayscale(80%);
}

}
#para{
  text-align: justify;
  font-family: sans-serif;
}

#parrafo2{
  padding: -50em;
  width: 600px;
  text-align:justify;
}
#parafo3{
  width: 1050px;
  text-align: justify;

}
